<template>
  <div class="position-absolute top-50 start-50 translate-middle text-center">
    <h1>Administrar productos</h1>
    <router-link to="/productos" class="btn btn-success">Entrar</router-link>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
    
  }
}
</script>
