<template>
    <div>
        <div class="d-flex justify-content-between mb-3">
            <h3 class="text-danger">Administrar productos <i class="fas fa-tasks"></i></h3>
            <form-products @save-product="saveProduct" :edit-product="itemEdit" @close-edit-product="closeEditProduct"/>
        </div>
        
        <table class="table striped table-hover">
            <thead class="text-center">
                <tr>
                    <th>REFERENCIA</th>
                    <th>MARCA</th>
                    <th>DESCRIPCION</th>
                    <th>CANTIDAD</th>
                    <th class="col-2">ACCION</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr v-for="(item, idx) of products" :key="idx">
                    <th>{{ item.reference }}</th>
                    <th>{{ item.brand }}</th>
                    <th>{{ item.description }}</th>
                    <th>{{ item.amount }}</th>
                    <th>
                        <button class="btn btn-success btn-sm p-1 ms-2" @click="viewDetailProduct(item)">
                            <i class="fas fa-eye" />
                        </button>
                        <button class="btn btn-warning btn-sm p-1 ms-1" @click="requestEditProduct(item, idx)">
                            <i class="fas fa-pencil-alt" />
                        </button>
                        <button class="btn btn-danger btn-sm p-1 ms-1" @click="deleteProduct(idx)">
                            <i class="fas fa-trash-alt" />
                        </button>
                    </th>
                </tr>
                <tr  v-if="!products || products.length == 0">
                    <th colspan="5" class="text-secondary">
                        !No hay productos creados¡
                        <i class="fas fa-exclamation-circle" />
                    </th>
                </tr>
            </tbody>
        </table>

        <detail-product :detailItem="itemDetail" @close-detail="closeDetailProduct" />
    </div>
</template>

<script>
import DetailProduct from '@/components/DetailProduct'
import FormProducts from '@/components/FormProducts'
import ItemStorage from '@/services/ItemStorage'
import ImageService from '@/services/ImageService'


export default {
    name: 'Productos',
    components: {
        FormProducts,
        DetailProduct,
    },
    data() {
        return {
            products: [],
            itemEdit: {},
            itemDetail: {},
            idxProduct: null,
        }
    },
    methods: {
        loadProducts() {
            if (ItemStorage.get('products')) {
                this.products = ItemStorage.get('products');
            }
        },
        viewDetailProduct(data) {
            this.itemDetail = data;
        },
        closeEditProduct() {
            this.itemEdit = {}
        },
        closeDetailProduct() {
            this.itemDetail = {};
        },
        saveProduct(product) {
            if (!this.itemEdit.reference) {
                this.products.push(product);
                this.$swal("Exito", "¡El producto se guardo correctamente!","success");
                ItemStorage.save('products', this.products);
                this.loadProducts();
            } else {
                this.editProduct(product);
            }
        },
        requestEditProduct(item, idx) {
            this.itemEdit = item;
            this.idxProduct = idx;
        },
        editProduct(product) {
            this.products[this.idxProduct] = product;
            ItemStorage.save('products', this.products);
            this.$swal("Exito", "¡El producto se actualizo correctamente!","success");
            this.itemEdit = {};
            this.idxProduct = null;
        },
        deleteProduct(idx) {
            this.$swal({
                title: "Esta seguro de borrar este producto?",
                text: "¡El producto se eliminara de forma permanente!",
                type: "warning",
                confirmButtonColor: "#BB2D3B",
                confirmButtonText: "Si, borrar!",
                showCancelButton: true,
            }).then((result) => {
                const photo = this.products[idx].image;
                if (photo) {
                    const formData = new FormData();
                    formData.append('namePhoto', photo);
                    ImageService.delete(formData);
                }
                
                if (result.value) {
                    this.products.splice(idx, 1);
                    ItemStorage.save('products', this.products);
                    this.$swal("Exito", "¡Se elimino el producto correctamente!","success");
                }
            }); 
        },
    },
    mounted() {
        this.loadProducts();
    },
}
</script>