<template>
    <div>
        <!-- Button trigger modal -->
        <button ref="detailModal"
                type="button"
                class="visually-hidden"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" />

        <!-- Modal -->
        <div class="modal fade"
             id="staticBackdrop"
             data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel"
             aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="staticBackdropLabel">Producto {{ detailItem.brand }}</h4>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        @click="clearDetailItem" />
            </div>
            <div class="modal-body m-3">
                <div class="d-flex justify-content-between row">
                    <div class="col-12 col-md-12 col-lg-6">
                        <h5><strong>Referencia</strong> </h5>{{ detailItem.reference }}
                        <h5><strong>Marca</strong> </h5>{{ detailItem.brand }}
                        <h5><strong>Descripcion:</strong> </h5>{{ detailItem.description }}
                        <h5><strong>Cantidad:</strong> </h5>{{ detailItem.amount }}
                    </div>
                    <div class="text-center col-12 col-md-12 col-lg-6">
                        <img class="img-thumbnail w-75" :src="urlImage" alt="product">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        @click="clearDetailItem">
                    Cerrar
                </button>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'DetailProduct',
    data() {
        return {
            urlImage: require('@/assets/images/product.png'),
        }
    },
    props: {
        detailItem: Object,
    },
    methods:{
        clearDetailItem() {
            this.$emit('close-detail');
        },
        imageUrlGenerate() {
            if (this.detailItem.image) {
                this.urlImage = require('@/assets/images/' + this.detailItem.image);
            } else { 
            this.urlImage = require('@/assets/images/product.png');
            }
        }
    },
     watch: {
        detailItem: function (){
            if (this.detailItem.reference) {
                this.imageUrlGenerate();
                this.$refs['detailModal'].click();
            }
        }
    }
}
</script>