<template>
    <div>
        <button ref="FormPoducts"
                type="button"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#formProductModal">
            Crear <i class="fas fa-plus-circle"></i>
        </button>

        <div class="modal fade"
             id="formProductModal"
             data-bs-backdrop="static" 
             data-bs-keyboard="false" tabindex="-1" 
             aria-labelledby="formProductModalLabel" 
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formProductModalLabel">{{action}} producto</h5>
                        <button ref="closeFormPoducts"
                                @click="closeEditProduct"
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close" />
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="m-3">
                                <strong>Referencia</strong><span class="text-danger"> *</span>
                                <input type="text"
                                       v-model="reference"
                                       placeholder="Referencia"
                                       class="form-control mb-2 col-6" 
                                       :class="isValidReference">     
                                <strong>Marca</strong><span class="text-danger"> *</span>
                                <input type="text"
                                       v-model="brand"
                                       placeholder="Marca"
                                       class="form-control mb-2"
                                       :class="isValidBrand">
                                <strong>Descripción</strong><span class="text-danger"> *</span>
                                <input type="text"
                                       v-model="description"
                                       placeholder="Descripción"
                                       class="form-control mb-2"
                                       :class="isValidDescription">
                                <strong>Cantidad</strong><span class="text-danger"> *</span>
                                <input type="number"
                                       v-model="amount"
                                       placeholder="Cantidad"
                                       class="form-control mb-2"
                                       :class="isValidAmount">
                                <strong>Foto</strong>
                                <input type="file" class="form-control mb-2" @change="onFileSelected">
                            </div>
                            <div class="modal-footer">
                                <button @click="closeEditProduct"
                                        type="button"
                                        class="btn btn-danger"
                                        data-bs-dismiss="modal">
                                    Cancelar
                                </button>
                                <button @click="validateForm" type="button" class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ImageService from '@/services/ImageService'


export default {
    name: 'FormProducts',
    data () {
        return {
            action: 'Crear',
            reference: '',
            brand: '',
            description: '',
            amount: '',
            image: '',
            isChange: false,
        }
    },
    props: {
        editProduct: Object,
    },
    methods: {
        onFileSelected(image) {
            this.image = image.target.files[0];
        },
        validateForm() {
            this.isChange = true;
            if (!this.reference || !this.brand || !this.description || !this.amount) {
                this.$swal("Error", "¡Debes diligenciar todos los campos obligatorios!","error");
                return;
            }
            
            this.emitProduct();
        },
        async emitProduct() {
            if (this.image) {
                const imageData = new FormData();
                imageData.append('photo', this.image)
                const response = await ImageService.save(imageData);
                this.image = response.data;
            }

            const products = {
                reference: this.reference,
                brand: this.brand,
                description: this.description,
                amount: this.amount,
                image: this.image,
            }

            this.$emit('save-product', products);
            this.$refs['closeFormPoducts'].click();
        },
        closeEditProduct() {
            this.clearFormProducts();
            this.$emit('close-edit-product');
        },
        clearFormProducts() {
            this.action = 'Crear';
            this.isChange = false;
            this.reference = '';
            this.brand = '';
            this.description = '';
            this.amount = '';
            this.image = '';
        },
    },
    watch: {
        editProduct: function () {
            if (this.editProduct.amount) {
                this.action = 'Editar';
                this.reference = this.editProduct.reference;
                this.brand = this.editProduct.brand;
                this.description = this.editProduct.description;
                this.amount = this.editProduct.amount;
                this.$refs['FormPoducts'].click();
            }
        },
    },
    computed: {
        isValidReference() {
            if (!this.isChange) {
                return;
            }
            return this.reference ? 'is-valid' : 'is-invalid';
        },
        isValidBrand() {
            if (!this.isChange) {
                return;
            }
            return this.brand ? 'is-valid' : 'is-invalid';
        },
        isValidDescription() {
           if (!this.isChange) {
                return;
            }
            return this.description ? 'is-valid' : 'is-invalid';
        },
        isValidAmount() {
            if (!this.isChange) {
                return;
            }
            return this.amount ? 'is-valid' : 'is-invalid';
        },
    },
}
</script>