<template>
  <div id="app">
    
    <div>
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <div class="container">
          <b-navbar-brand to="/">iMotriz</b-navbar-brand>
          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <b-nav-item to="/">Home</b-nav-item>
              <b-nav-item to="/productos">Productos</b-nav-item>
            </b-navbar-nav>
          </b-collapse>
        </div>
        
      </b-navbar>
    </div>

    <div class="container mt-3">
      <router-view/>
    </div>
    
  </div>
</template>
